@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

* {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  text-align: center;
  color: wheat;

  background: linear-gradient(to right, rgb(83, 36, 36), rgb(74, 86, 157));
}
